/*
    Jack Manges, jm5244@drexel.edu
    CS530: Assignment 1
*/

body {
    font-family: 'Baskerville', 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    background: #2A2A37;
}

header {
    background: #2A2A37;
}

/* for header options when unselected */
.header-unselected {
    -webkit-text-fill-color: #E6C384;
}

/* for header options when selected */
.header-selected {
    -webkit-text-fill-color: #957FB8;
}

/* For bike table images */
.table-limit {
    max-width: 100px;
}

.dropdown-unselected {
    -webkit-text-fill-color: #000000;
}

.btn-primary {
    background: #507C49;
    border-color: #406C39;
}

.btn-primary:hover {
    background: #608C59;
    border-color: #406C39;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.content {
    padding: 2rem 1.5rem;
}

.image-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 900px;
}

.container-heading {
    font-size: 3.0rem;
}

.container-heading-home {
    text-shadow: 2.5px 2.5px #000000;
    font-size: 5.0rem;
}

.btn-secondary {
    background-color:  #6d5d89;
    font-weight: bolder
}

.dropdown-menu {
    background-color: #6d5d89;
}

.dropdown-item-text {
    font-weight: bolder
}

thead th {position:sticky;top: 0; z-index: 1;}
.tref {
   background-color: #2A2A37 !important;
   -webkit-text-fill-color: #E6C384; 
}

.tref-h {
    background-color: #2A2A37 !important;
    -webkit-text-fill-color: #D27E99;
 }

 .tref-l {
    background-color: #2A2A37 !important;
    -webkit-text-fill-color: #E6C384; 
 }

 .tref-l:hover {
    -webkit-text-fill-color: #957FB8;
 }

 .tref-l:hover ~ .tref {
    -webkit-text-fill-color: #957FB8;
 }

 .aref {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #957FB8;
 }

.t1 {
    color: #E6C384;
}

.t2 {
    color: #957FB8;
}

.t3 {
    color: #7E9CD8;
}

.t4 {
    color: #7FB4CA
}

.t5 {
    color: #7AA89F;
}

.t6 {
    color: #D27E99;
}

.t7 {
    color: #7e6b9e;
}

hr {        
    height: 3px;
    color: black;
    background-color: black;
    margin: 20px 0;
    opacity: 1;
  }
