/*
    Jack Manges, jm5244@drexel.edu
    Zane Hamdan, zih23@drexel.edu
    CS530: Final Project
*/

.loadout-select{
    display:inline-block;
    border:none;
    background-color: transparent;
    -webkit-text-fill-color:#E6C384;
    
}
.loadout-select:hover{
    -webkit-text-fill-color:#927c54;
    
}

