{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<section class="p-4">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center">
            <h2 class="container-heading t1 text-center p-4">Who we are</h2>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md text-center d-none d-md-block">
                <img class="img-fluid" src="/static/img/borderwizard.png">
            </div>
            <div class="col-md-5 text-center text-md-start">
                <h3 class="py-3">
                    <div class="container-heading t1">Zane</div>
                </h3>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    At suscipit dolor consectetur quidem! Iusto a odit eius minima autem, maiores quos itaque. 
                    Voluptatibus aliquam voluptas magnam, explicabo earum molestiae officia.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    At suscipit dolor consectetur quidem! Iusto a odit eius minima autem, maiores quos itaque. 
                    Voluptatibus aliquam voluptas magnam, explicabo earum molestiae officia.
                </p>

            </div>

        </div>

        <div class="row justify-content-center align-items-center">

            <div class="col-md-5 text-center text-md-start">
                <h3 class="py-3">
                    <div class="container-heading t1">Jack</div>
                </h3>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    At suscipit dolor consectetur quidem! Iusto a odit eius minima autem, maiores quos itaque. 
                    Voluptatibus aliquam voluptas magnam, explicabo earum molestiae officia.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    At suscipit dolor consectetur quidem! Iusto a odit eius minima autem, maiores quos itaque. 
                    Voluptatibus aliquam voluptas magnam, explicabo earum molestiae officia.
                </p>

            </div>
            <div class="col-md text-center d-none d-md-block">
                <img class="img-fluid" src="/static/img/borderwizard.png">
            </div>

        </div>

    </div>
</section>

{% endblock %}