<!--
    Jack Manges, jm5244@drexel.edu
    CS530: Final Project
-->

{% extends 'base.html' %}
{% set active = "Bikes" %}

{% block title %}
Bikes
{% endblock %}

{% block content %}

<section class="container">
    <div class="text-left">
        <h1 class="container-heading">Our Bikes</h1>
        <p>We have the best selection of bikes around. Please see our selection below!</p>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Wheels</th>
                  <th scope="col">Size</th>
                  <th scope="col">Motorized</th>
                  <th scope="col">Folding</th>
                </tr>
              </thead>
            <tbody>
                <!--Include call to dynamically create the bike table similarly to about2.html-->
                {% for bike in data.bike_entries %}
                <tr>
                    <td>
                        <!--Bike Image needed here-->
                        <img class="table-limit" src="/static/img/bikes/{{bike.image}}">
                    </td>
                    <td class="table-limit">
                        {{ bike.name }}
                    </td>
                    <td>
                        {{ bike.wheels }}"
                    </td>
                    <td>
                        {{ bike.size }}
                    </td>
                    <td>
                        {{ bike.motor }}
                    </td>
                    <td>
                        {{ bike.folding }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}