<!--
    Jack Manges, jm5244@drexel.edu
    CS530: Final Project
-->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="p-4">
    <div class="container-lg py-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <h1 class="p-4 me-2">
                    <div class="container-heading-home text-center t1">Spellcaster</div>
                    <div class="text-secondary text-center">Cast away</div>
                </h1>
                <p class="text-secondary ms-4">
                    Need to plan out your next campaign? Spellcaster is a Dungeons and Dragons web application that 
                    aims to enhance player experience both inside and outside the game. It not only serves as an online
                    reference for the many magic abilities found within D&D, but allows users to plan out builds of high 
                    variety via interactive our interactive loadout builder. Customize your next spellcaster today! 
                </p>
                <p class="text-center">
                    <a href="/about" class="btn btn-secondary btn-lg my-2 me-3 t1">Learn about us</a>
                    <a href="/builder1" class="btn btn-secondary btn-lg my-2 t1">Create a spell loadout</a>
                </p>

            </div>
            <div class="col-md text-center d-none d-md-block">
                <img class="img-fluid" src="/static/img/borderwizard.png">
            </div>
        </div>

    </div>

    <p class="t1 text-center py-5">
        New to Dungeons and Dragons?
        <a class="t2" href="https://dnd.wizards.com/what-is-dnd/basic-rules">View the rules here!</a>
    </p>
</section>

{% endblock %}