<!--
    Jack Manges, jm5244@drexel.edu
    CS530: Assignment 1
-->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading t1">Spellcaster</h1>
        <p class="lead text-muted">Cast away</p>
        <p><img class="jumbotron-image img-fluid" src="/static/img/homestock.jpg"></p>
        <p>
            <a href="/about" class="btn btn-secondary my-2 mr-2 t1">Learn about us</a>
            <a href="/bikes" class="btn btn-secondary my-2 t1">Create a spell loadout</a>
        </p>
    </div>
</section>

{% endblock %}