{%extends "base.html" %}{% block title %}Builder{%endblock%}
{%block header%} <script src="static/js/test.js"></script> {%endblock%}
{% block content %}
    <div class = 'container'>
        <div class = 'row'>
        <div class="col-md-10">
            <table class = "table" id="spell-container">
                <thead>
                    <tr>
                        <th class = "tref">
                            Spell
                        </th>
                        <th class = "tref">
                            Spell Level
                        </th>
                        <th class = "tref">
                            Concentration
                        </th>
                        <th class = "tref">
                            Ritual
                        </th>
                        <th class = "tref">
                            Range
                        </th>
                        <th class = "tref"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-md-2">
            <h3>{{spell_list_name}}</h3>
            <h4>{{desc}}</h4>
            <table class = "table" id="chosen-spells">
                <thead>
                <tr><th class="tref">Spell</th></tr>
                </thead>
                <tbody></tbody>
            </table>
            <a class="btn btn-primary" id="post-loadout">submit</a>
        </div>
        </div>
    </div>
    
    
    <script>
            $(document).ready(function () {
                const selectedClass = '{{ selected_class | safe }}';
                const spellListName = '{{ spell_list_name | safe }}';
                const listDesc = '{{ desc | safe }}';
                const allSpells = new spellTable(selectedClass, spellListName, listDesc);
                allSpells.fetchSpells();
            });
    </script>

{% endblock %}