{% extends "base.html" %} {% block title %}Builder{%endblock%}

{%block header%} <script src="static/js/builderView.js"></script> {%endblock%}

{%block content%}
<div class = 'row'>
    <div class="col-md-8">

        <table class = "table border-black" id = "loadout-list">
            <thead>
                <tr>
                    <th class = "tref-h">Loadouts:</th>
                </tr>
            </thead>
            <tbody>
                {%for loadout in loadouts%}
                    <tr>
                        <td class = 'tref'>
                            <a class = "loadout-select" href="{{ url_for('loadout', loadout_id=loadout[2]) }}">{{loadout[2]}}</a>
                            <p style="display:inline-block;font-size: 1rem;">&ensp; <em>{{loadout[3]}}</em></p>
                            <a class="delete" href="#" style = "float:right; display:inline-block; padding-right:4px; font-size:1rem" data-name="{{loadout[2]}}">delete</a>
                            {%if loadout[4] == "" %}
                                <p style="font-size: 1rem;opacity: 0.7;">&emsp; <em>no description </em></p>
                            {%else%}
                                 <p style="font-size: 1rem;opacity: 0.7;">&emsp; <em>{{loadout[4]}}</em></p>
                            {%endif%}
                        </td>
                    </tr>
                {%endfor%}
            </tbody>

        </table>
    </div>
</div>

<script>
$(".edit").on("click", function () {
            var loadoutName = $(this).data("name");
            console.log("Edit button clicked for loadout:", loadoutName);
})

$(".delete").on("click", function () {
            var loadoutName = $(this).data("name");
            $.post('/api/delete_loadout', {
                loadout_name: loadoutName
            }, location.reload())
            
})


</script>

{%endblock%}