{% extends 'base.html' %}
{% set active = "Spell Reference" %}

{% block title %}
Spell Reference
{% endblock %}

{% block content %}

<h1 class="t1 py-4 text-center">Spell Reference</h1>

<div class="container">
    <form action="/spell_reference", method="POST">
        <div class="row align-items-center">
            <div class="col pe-5">
                <label for="spell_name" class="t1 form-label">Spell Name:</label> 
                <input type="text" class="form-control" id="spell_name" name="spell_name"> 
            </div>
            <div class="col pe-5">
                <label for="spell_class" class="t1 form-label">Class:</label> 
                <select id="spell_class" class="form-select" name="spell_class">
                    <option selected>Choose...</option>
                    <option value="Bard">Bard</option>
                    <option value="Cleric">Cleric</option>
                    <option value="Druid">Druid</option>
                    <option value="Fighter">Fighter</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Ranger">Ranger</option>
                    <option value="Druid">Druid</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Sorcerer">Sorcerer</option>
                    <option value="Warlock">Warlock</option>
                    <option value="Wizard">Wizard</option>
                </select>
            </div>
            <div class="col pe-5">
                <label for="school" class="t1 form-label">School:</label> 
                <select id="school" class="form-select" name="spell_school">
                    <option selected>Choose...</option>
                    <option value="Evocation">Evocation</option>
                    <option value="Conjuration">Conjuration</option>
                    <option value="Abjuration">Abjuration</option>
                    <option value="Transmutation">Transmutation</option>
                    <option value="Enchantment">Enchantment</option>
                    <option value="Necromancy">Necromancy</option>
                    <option value="Divination">Divination</option>
                    <option value="Illusion">Illusion</option>
                </select>
            </div>
            <div class="col pe-5">
                <label for="level" class="t1 form-label">Level:</label> 
                <select id="level" class="form-select" name="spell_level">
                    <option selected>Choose...</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-lg btn-secondary t1" style="position: absolute;">Search</button>
            </div>
        </div>  
    </form>
    <hr class="hr">

    <table class="table">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Class</th>
              <th scope="col">School</th>
              <th scope="col">Level</th>
            </tr>
          </thead>
        <tbody>
            {% if data %}
                {% for spell in data %}
                <tr>
                    <td>
                        {{ spell.Name }}
                    </td>
                    <td>
                        {{ spell.Classes }}
                    </td>
                    <td>
                        {{ spell.School }}
                    </td>
                    <td>
                        {{ spell.Level }}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

</div>

{% endblock %}