{% extends 'base.html' %}
{% set active = "Spell Display" %}

{% block title %}
Spell Display
{% endblock %}

{% block content %}

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <form>
                <input type="button" class="btn btn-lg btn-secondary t1" value="Go back!" onclick="goBack()">
            </form>
        </div>
        <div class="col">
            <h1 class="t6 py-4 container-heading text-center" style="white-space:nowrap;">{{ spell_name }}</h1>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container-lg py-1">
    <hr class="hr">
    <div class="row">
        <div class="col-2">
            <p class="t6">Classes:</p>
            <p class="t1" style="height:90px">{{ data.Classes }}</p>
            <br><br>
            <p class="t6">Casting Time:</p>
            <p class="t1">{{ data.Casting_Time }}</p>
        </div>
        <div class="col-2">
            <p class="t6">School:</p>
            <p class="t1" style="height:90px">{{ data.School }}</p>
            <br><br>
            <p class="t6">Duration:</p>
            <p class="t1">{{ data.Range }}</p>
        </div>
        <div class="col-2">
            <p class="t6">Level:</p>
            <p class="t1" style="height:90px">{{ data.Level }}</p>
            <br><br>
            <p class="t6">Concentration:</p>
            <p class="t1">{{ data.Concentration }}</p>
        </div>
        <div class="col-2">
            <p class="t6">Range:</p>
            <p class="t1" style="height:90px">{{ data.Range }}</p>
            <br><br>
            <p class="t6">Ritual:</p>
            <p class="t1">{{ data.Ritual }}</p>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="/static/img/spellbook.png">
        </div>
    </div>
    <hr class="hr">
    <div class="row">
        <div class="col">
            <p class="t6">Description:</p>
            <p class="t1">{{ data.Description }}</p>
        </div>
    </div>
</div>
<footer>
    <a href="https://www.flaticon.com/free-icons/magic" class="t2 footer-contents" title="magic icons" style="font-size: 0.75em">Magic icon created by Culmbio - Flaticon</a>
</footer>

<script>
    function goBack() {
      // Navigate back one step in the history
      window.history.go(-1);

      // Reload the previous page after a short delay
      setTimeout(function() {
        window.location.reload();
      }, 500); // Adjust the delay time as needed
    }
</script>

{% endblock %}