{% extends 'base.html' %}
{% set active = "Spell Reference" %}

{% block title %}
Spell Reference
{% endblock %}

{% block content %}

<h1 class="t1 py-4 container-heading text-center">Search for Spells</h1>

<div class="container">
    <form action="/spell_reference", method="POST">
        <div class="row align-items-center">
            <div class="col pe-5">
                <label for="spell_name" class="t1 form-label">Spell Name:</label> 
                {% if spell_name %}
                    <input type="text" class="form-control" id="spell_name" name="spell_name" value="{{spell_name}}"> 
                {% else %}
                    <input type="text" class="form-control" id="spell_name" name="spell_name" placeholder="Enter a spell name...">
                {% endif %}
            </div>
            <div class="col pe-5">
                <label for="spell_class" class="t1 form-label">Class:</label> 
                <select id="spell_class" class="form-select" name="spell_class">
                    {% for class in reference_classes %}
                        {% if spell_class == class %}
                            <option selected value="{{spell_class}}">{{ spell_class }}</option>
                        {% else %}
                            <option value="{{ class }}">{{ class }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col pe-5">
                <label for="school" class="t1 form-label">School:</label> 
                <select id="school" class="form-select" name="spell_school">
                    {% for school in reference_schools %}
                        {% if spell_school == school %}
                            <option selected value="{{spell_school}}">{{ spell_school }}</option>
                        {% else %}
                            <option value="{{ school }}">{{ school }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col pe-5">
                <label for="level" class="t1 form-label">Level:</label> 
                <select id="level" class="form-select" name="spell_level">
                    {% for level in reference_levels %}
                        {% if spell_level == level %}
                            <option selected value="{{spell_level}}">{{ spell_level }}</option>
                        {% else %}
                            <option value="{{ level }}">{{ level }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-lg btn-secondary t1" style="position: absolute;">Search</button>
            </div>
        </div>  
    </form>
    <hr class="hr">

    <table class="table table-striped border-black">
        <thead>
            <tr>
              <th scope="col" class="tref-h">Name</th>
              <th scope="col" class="tref-h">Class</th>
              <th scope="col" class="tref-h">School</th>
              <th scope="col" class="tref-h">Level</th>
            </tr>
          </thead>
        <tbody>
            {% if data %}
                {% for spell in data %}
                <tr>
                    <td class="tref-l table-limit">
                        <a href='/spell_display' class="aref" data-value="{{ spell.Name }}">{{ spell.Name }}</a>
                    </td>
                    <td class="tref table-limit">
                        {{ spell.Classes }}
                    </td>
                    <td class="tref table-limit">
                        {{ spell.School }}
                    </td>
                    <td class="tref">
                        {{ spell.Level }}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

</div>

<script>

    function addHandlers() {
        var links = document.getElementsByClassName('aref');
        for (var i = 0; i < links.length; i++) {
            links[i].addEventListener('click', sendData);
        }
    }

    function sendData(event) {
        var spellName = $(this).data('value')
        var nameSearch = $('#spell_name').val()
        var classSearch = $('#spell_class').val()
        var schoolSearch = $('#school').val()
        var levelSearch = $('#level').val()
        $.ajax({
            type: 'GET',
            url: '/spell_display',
            data: { 'spellName': spellName,
                    'nameSearch': nameSearch,
                    'classSearch': classSearch,
                    'schoolSearch': schoolSearch,
                    'levelSearch': levelSearch },
            success: function(response) {
                $('body').html(response)
            },
            error: function(error) {
                console.log(error);
            }
        });
        event.preventDefault();
    }
    window.addEventListener('load', addHandlers);

</script>

{% endblock %}